<% content_for :menu do %>
  <li><a href="/home">Home</a></li>
  <li class="active"><a href="/projects">All projects</a></li>
  <li><a href="/projects/new">New project</a></li>
<% end %>

<div class="row">
  <div class="span12 gradientGray">
    <h1>All tickets for <%= @project.name%></h1>
    <% @tickets.each do |ticket|%>
      <div class="span2">
        <%= link_to ticket.name, ticket_path(ticket) %>
        <% cssClass = Status.find(ticket.status.id).status_name.downcase.gsub(/ /, '-') %>
        <p class="<%= cssClass %> center"><%= status = Status.find(ticket.status.id).status_name %> </p>
      </div>
    <% end %>
  </div>
</div>