{% extends 'shared/base.html' %}
{% load custom_filters %}
{% block title %}
  {{ ticket.name }} for {{project.name}}
{% endblock %}
{% block menu%}
  <li><a href="/home">Home</a></li>
  <li class="active"><a href="/projects">All projects</a></li>
  <li><a href="#">Add new project</a></li>
  <li><a href="#">Welcome {{user.first_name}}</a></li>
  <li><a class="btn-small btn-danger" href="/logout">Log out</a></li>
{% endblock %}
{% block content%}
<div class="row">
    <div class="span12 gradientGray">
        <h2>{{ticket.name}}</h2>
        <p id="singleProjectDescription">{{ ticket.description }}</p>
    <hr>
      <div class="row">
        <div class="span12">
          <h2><strong>Details</strong></h2>
          <div id="projectFirst" class="span5 projectInfoDiv">
            <h4>Creator</h4>
            <ul class="inline">
              <p>{{ ticket.user.get_full_name}}</p>
              <p>Belongs to project: <a href="{% url project_show project.id%}">{{project.name}}</a></p>
            </ul>
          </div>
          <div id="projectSecond" class="span5 projectInfoDiv offset1">
            <h4>Status</h4>
            <p>Status: <span class="{{ticket.status.status_name.split|join:"-"|lower}}">{{ ticket.status }}</span></p>
            <ul class="inline">
              <li><strong>Created:</strong> {{ticket.date_added}}</li>
              <li><strong>Updated:</strong> {{ticket.date_updated}}</li>
            </ul>
          </div>
        </div>
      </div>
    <hr>
    <div class="row">
      <div class="span12">
        <ul class="inline">
          <li><a class="btn btn-info" href="{% url project_show project.id %}">Go back</a></li>
          {% if project|creator:user or ticket|ticketCreator:user %}
            <li><a class="btn btn-warning" href="{% url project_edit_ticket project.id, ticket.id%}">Edit</a></li>
            <li><a class="btn btn-danger" href="{% url project_delete_ticket project.id, ticket.id%}">Remove</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}