<h1>Details for <%= @User.first_name + " " + @User.last_name %> </h1>

<p id="singleMemberName">Full name: <%= @User.first_name + " " + @User.last_name %></p>
<p id="singelMemberEmail">Email: <%= @User.email %> </p>