<% content_for :menu do %>
  <li><a href="/home">Home</a></li>
  <li><a href="/projects">All projects</a></li>
  <li><a href="/projects/new">New project</a></li>
  <li class="active"><a href="/users">Users</a></li>
<% end %>
<div class="row">
    <div class="span10 gradientGray">
      <h2><%= @User.first_name + " " + @User.last_name %></h2>
      <p>Email: <%= @User.email %> </p>
      <div id="singleUserListContainer" class="row">
        <div class="span2">
          <label for="singleUserTicketList">User tickets</label>
          <ul ="singleUserTicketList" class="inline">
            <% @User.tickets.each do |ticket| %>
              <li><%= link_to ticket.name, ticket_path(ticket) %></li>
            <% end %>
          </ul>
        </div>
        <div id="singleUserListContainer" class="span2">
          <label for="singleUserMemberList">User projects</label>
          <ul ="singleUserMemberList" class="inline">
            <% @User.projects.each do |project| %>
              <li><%= link_to project.name, project_path(project) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>