<% content_for :menu do %>
  <li><a href="/home">Home</a></li>
  <li><a href="/projects">All projects</a></li>
  <li class="active"><a href="/projects/new">New project</a></li>
<% end %>
<div class="row">
    <div class="span10 gradientGray">
      <h2>Edit project</h2>

      <%= render :partial => "shared/projectForm" %>

  </div>
</div>