<% content_for :menu do %>
  <li><a href="/home">Home</a></li>
  <li><a href="/projects">All projects</a></li>
  <li class="active"><a href="/projects/new">New project</a></li>
  <li><a href="/users">Users</a></li>
<% end %>
<div class="row">
    <div class="span12 gradientGray">
      <h2>Add a new project</h2>
      
      <%= render :partial => "shared/projectForm" %>
      
  </div>
</div>