<div class="row">
    <div class="span10 gradientGray">
      <h2><%= @project.name %></h2>
      <p id="singleProjectDescription"><%= @project.description %></p>
      <div id="singleProjectListContainer" class="row">
        <div class="span2">
          <label for="singleProjectTicketList">Project tickets</label>
          <ul ="singleProjectTicketList" class="inline">
            <% @project.tickets.each do |ticket| %>
              <li><%= link_to ticket.name, ticket_path(ticket) %></li>
            <% end %>
          </ul>
        </div>
        <div id="singleProjectListContainer" class="span2">
          <label for="singleProjectMemberList">Project members</label>
          <ul ="singleProjectMemberList" class="inline">
            <% @project.users.each do |user| %>
              <li><%= link_to user.first_name, user_path(user) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>